body {
    margin: 0;
    padding: 0;
    color: #373a3c;
    font-family: 'Open Sans', sans-serif;
}

article {
    width: 95.05%;
}

footer {
    background-color: darkmagenta;
    vertical-align: middle;
}

i {
    padding-right: 1rem;
    padding-top: .5rem;
}

/* defino tipo letra*/
.oswald {
    font-family: 'Oswald', sans-serif;
}

/* peso letra*/
.super-ligera {
    font-weight: 200;
}

.ligera {
    font-weight: 300;
}

.semigruesa {
    font-weight: 600;
}

.gruesa {
    font-weight: 700;
}

#M{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.titulo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
}

.titulo-carta {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4375rem;
}

.interlinea {
    line-height: 2.4;
}

a {
    color: white;
}

.hero {
    text-align: center;
    text-underline-position: 50%;
    font-family: 'Oswald', sans-serif;
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*color: #ffffff;*/
    /*text-shadow: .125em .25em .125em #707070;*/
    /*padding: 3rem 3rem;*/
    background-position: center;
}

.espacio-vertical {
    padding-top: 31%;
}

.color-de-fondo {
    background-color: #660066;
}

.color-figura {
    color: #660066;
}

.linea-magdalena {
    text-decoration-line: overline;
}

.linea-deco {
    text-decoration-line: underline;
}

.linea-corta {
    border: 1px solid black;
    width: 11%;
    margin-bottom: 4%;
}

.grande {
    font-size: 1.5625rem;
}

#ab {
    border: 1px solid white;
}
